body{
  font-family: Arial, Helvetica, sans-serif;
}
h1,h2,h3{
  margin: 0.5rem 0;
  color: black;
}
h1{
  font-size: 1.5rem;
}
h2{
  font-size: 1.2rem;
}
h3{
  font-size: 1rem;
}
a{
  text-decoration: none;
}

.row{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
}
.col-1{
  flex: 1;
}
.col-2{
  flex: 2;
}
.block{
  background-color: #f8f8ff;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}
.row.center{
  align-items: center;
}

img.small{
  max-height: 8rem;
}
.productBox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 5px;
}
button{
  cursor: pointer;
}
button.BTNstyle{
  background-color: #f8f8ff;
  color: #8d8db3;
  font-size: 0.8rem;
  padding: 0.3rem;
  margin: 5px;
  border: 0.1rem #8d8db3 solid;
  width: 100%;
}
button.BTNstyle:hover{
  background-color: #8d8db3;
  color:#f8f8ff;
}
button.badge{
  background-color: seagreen;
  padding: 5px;
  color: white;
  border: green;
}
.text-right{
  text-align: right;
}